services:
  - type: web
    name: meli-api
    env: docker
    plan: free
    dockerfilePath: meli-app.dockerfile
    autoDeploy: true
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_USERNAME
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
    healthCheckPath: /actuator/health

